body {
    background-color: lightgray;
}

select, input {
    font-size: 1.5em;
    width: 200px;
    box-sizing: border-box;
}

.bodyEl {
    margin: auto;
    width: 500px;
    padding: 2em;
    background-color: lightblue;
    border-radius: 30px;

}

#submit-all {
    display: flex;
    margin-top: 2em;
    font-size: 1.4em;
}

#wingfoil-img {
    width: 100px;
}